.imageGrid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  transition: transform 0.5s ease;
  position: absolute;
  top: 0;
  opacity: 0.7;
  left: 0;
}

.trash {
  position: absolute;
  top: 0;
  padding: 10px;
}

.img-wrap:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image-delete {
  cursor: pointer;
  float: right;
  background: none;
  border: none;
  line-height: 25px;
}

.card-header{
  height: 40px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.backdrop img {
  display: block;
  border-radius: 4px;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 2px solid white;
}
