.imageGrid {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-bottom: 20px;
}

.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  transition: transform 0.5s ease;
  position: absolute;
  top: 0;
  opacity: 0.7;
  left: 0;
}

.trash {
  position: absolute;
  top: 0;
  padding: 10px;
}

.card:hover {
  box-shadow: 0px 0px 20px rgb(221, 221, 221);
  transform: scale(1.02);
  transition-duration: 0.5s;
}

.image-delete:hover {
  color: #e84600;
}

.image-delete {
  cursor: pointer;
  float: right;
  background: none;
  border: none;
  line-height: 25px;
}

.dark {
  color: black;
}

.light {
  color: white;
}

.card-body {
  padding: 5px;
}

.card-header {
  height: 40px;
  background: transparent;
  border: none;
}

.card {
  border: none;
  background-color: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.backdrop img {
  display: block;
  border-radius: 4px;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 2px solid white;
}

@media (max-width: 768px) {
  .imageGrid {
    grid-template-columns: 1fr 1fr;
    margin-inline: 10%;
  }
}

@media (max-width: 420px) {
  .imageGrid {
    grid-template-columns: 1fr;
  }
  .backdrop img {
    max-width: 90%;
    margin: 50% auto;
  }
}
