form {
  margin: 30px auto 10px;
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: flex;
  margin: 10px auto;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  width: 40%;
  font-size: 24px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
}
label:hover {
  border: 1px dashed #ff665b;
  color: white;
  cursor: pointer;
}

.dark {
  border: 1px dashed black;
}

.light {
  border: 1px dashed white;
}

.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: #ff2414;
}

.progressBar {
  height: 5px;
  background: #ff665b;
  margin-top: 21px;
}
