@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

.white-content {
  background: #0b001f;
  color: white;
}
